html {
    box-sizing: border-box;
  }
  /* *, *:before, *:after {
    box-sizing: inherit;
  } */

body {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    box-sizing: content-box;
    margin: 0 auto;
    width: 480px;
    height: 480px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

#container > .box {
    box-sizing: border-box;
}

.bgColor1 {
  background-color: #ffffff;
}

.bgColor2 {
  background-color: #eeeeee;
}

.paint {
  background-color: black;
}

#settings {
  width: 480px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  height: 2em;
}

.settingBar {
  font-size: 1.2em;
}

#clearBtn {
  border-radius: 5px;
}

#inputAmount {
  width: 80px;
  text-align: right;
}
